<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>244710602409-54uluse8d6cp1q055jfj8s4vs7o1cfuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244710602409-54uluse8d6cp1q055jfj8s4vs7o1cfuc</string>
	<key>API_KEY</key>
	<string>AIzaSyDWp86B0G2heQ3gZWe4xUoyLs4sWhStqck</string>
	<key>GCM_SENDER_ID</key>
	<string>244710602409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.commelius.ios.s11-showcase-app</string>
	<key>PROJECT_ID</key>
	<string>course-s11-showcase-app</string>
	<key>STORAGE_BUCKET</key>
	<string>course-s11-showcase-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:244710602409:ios:d5790d1bdc53641e</string>
	<key>DATABASE_URL</key>
	<string>https://course-s11-showcase-app.firebaseio.com</string>
</dict>
</plist>